/* 重置属性 */
body,h1,h6,h5,ul,li,p,dl,dd{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background: #ffffff!important;
}
html{
  font-size: 62.5%!important;
}
@media screen and (max-width: 320px){
  html{
    font-size: 46%!important;
  }
}

html,body,#app{
  height: 100%;
}
img{
  display: block;
}

.public-main{
  height: 100%;
  overflow: hidden;
}

.swiper-container{
  height: 79%;
  overflow: auto!important;
}
.swiper-scrollbar{
  height: 3px;
  position: static;
}
.swiper-scrollbar{
  background: transparent!important;
}
.swiper-scrollbar-drag{
  background: rgba(252,95,69,1)!important;
}

/* 弹窗 */
.popup-bg{
  height: 100%;
  width: 100%;
  background: #333333;
  opacity: 0.6;
  position: fixed;
  left: 0;
  top: 0;
}
