/* 重置属性 */
body,h1,h6,h5,ul,li,p,dl,dd{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-size: 12px!important;
  background: #ffffff!important;
}

.one-level-page{
  margin-bottom: 50px;
  margin-top: 90px;
}

.head-Padding{
  padding: 50px 0 0 0;
}
